@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);



body{
    display:flex;
    width:100%;
    height:100%;
    font-family: sans-serif;
}
#landingContainer{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0% 5% 5% 5%;
} 
#navAndLogoContainer{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

/* Navbar section Below */

.navbar {
    display:flex;
    width:50%;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    white-space: nowrap;
    font-size: 1.25em;
    padding:.75%;
  } 

  /* Gives <a> element text color and removes underline */
  .navbar a {
    color: black;
    text-decoration: none;
    padding:.5em;
  }

  /* Removes premade styling and resizes button, sizes & colors the text*/
  .dropButton{
    font-size: 1em;
    border: none;
    outline: none;
    color: black;
    padding:.5em 1.25em;
  }
  /* Makes is so that when all items (except the dropdown a elements) change color when hovered over */
  .navbar a:hover, .dropdown:hover .dropButton {
    border-top: 2px solid rgba(51, 161, 173, .2);
    color: rgba(51, 161, 173, .9);
  }
  
  /* Hides dropdown menu until it's hovered over & prevents subnav from moving the whole nav bar spacing  */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(255, 253, 253);
  }
  /* When it hovers the text and background change color */
  .dropdownContent a:hover {
    /* background-color: green;
    color:white; */
    border-top: 1px solid rgba(51, 161, 173, .5);
  }

  /* Allows the drop down menu to be visible when hovered over  */
  .dropdown:hover .dropdownContent {
    display:flex;
    flex-direction:column;
  } 

  /* End of Nav Bar CSS */
  /* #goatCover{
    margin-bottom:5%;
    max-width:100%;
    opacity: .8;
    position:relative;
} */
#landingBanner{
    width:100%;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
    color:whitesmoke;
    background-image: linear-gradient(rgba(143, 136, 136, 0.104), rgba(213, 213, 213, 0.3)),url('../images/banner.png');
    padding-bottom:5%;
    padding-top:10%;
    margin-bottom:5%;
}

 .bannerTitle {
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    font-weight:lighter;
    margin:10% 0% 0% 0%;
 }
 #subBannerTitle a{
     text-decoration:none;
     color:white
 }
 #subBannerTitle:hover{
    background-color:rgba(51, 161, 173, .5);
 }
 h4{
    font-weight:lighter;
    padding:1%;
    border: solid 1px rgba(51, 161, 173, .5);
    background-color:rgba(51, 161, 173, .7);
 }
#landingContainerTop{
    display:Flex;
    width:100%;
    margin-bottom:5%;
}
#landingSubContainer1{
    display:flex;
    width:50%;
    padding:5% 0%;
    background-image:url('../images/helloWreath.jpg');
    background-position: center;
    background-size:cover;
    margin-right:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
}
#landingSubContainer2{
    display:flex;
    width:50%;
    padding:5% 0%;
    background-image: linear-gradient(rgba(143, 136, 136, 0.2), rgba(213, 213, 213, 0.2)),url('../images/wreath1jpg.jpg');
    background-position: center;
    background-size:cover;
    margin-left:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;   
}
#landingContainerBottom{
    display:Flex;
    width:100%;
}
#landingSubContainer3{
    display:flex;
    width:50%;
    padding:5% 0%;
    background-image: url('../images/aboutImg.jpg');
    background-position: center;
    background-size:cover;
    margin-right:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;   
}
#landingSubContainer4{
    display:flex;
    width:50%;
    padding:5% 0%;
    background-image: url('../images/aboutImg.jpg');
    background-position: center;
    background-size:cover;
    margin-left:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
}
.tileLink{
    background-color:rgba(255,183,177,.8);
    min-width:50%;
    padding:1%;
    text-align: center;
}

.landingFont1, .landingFont2{
    color: white;
    padding:0;
    margin:0;
}
.landingFont1{
    margin-top:25%;
    margin-bottom:0;
}
.landingFont2{
    margin-top:0;
    margin-bottom:25%;
    font-weight: lighter;
    font-size:1.25em;
}
.socialMediaImages{
    max-width:200px;
    max-height:200px;
}
#socialMediaContainer{
    display: flex;
    width:100%;
    justify-content: space-between;
}
/* effects for the follow us on IG link */
#instaLink{
    display:flex;
    flex-direction:row;
    align-items: center;
    width:100%;
    justify-content: center;
    color: rgba(51, 161, 173, .8);
    font-size:1.5em; 
    margin: 1% 0%;
}

p + a{
    text-decoration: none;
    margin-left:.5%;
    color: rgba(51, 161, 173, .8);
}
hr.bottomLine{
    width:100%;
    border-top: 1px solid rgba(51, 161, 173, .9);
    margin-top:5%;
}
.item{
    width:25%;
}
footer{
    display:flex;
    /* flex-wrap:wrap; */
    width:100%;
    /* justify-content:space-between; */
    color:rgba(255,183,177,.8);
    font-size:1.25em;
    margin-top:2%;
    align-items:center;
}
footer p{
    margin-left:3%;
    padding:0; 
    min-width:60%;
}
footer  a{
    width:100%;
    text-decoration:none;
    color:rgba(255,183,177,.8);
    font-size:1em;
    margin-left:1%;
}
footer  a:hover{
    color:rgba(51, 161, 173, .9);
}
footer  a:first-of-type{
    margin-left:0;
}
footer  a:last-of-type{
    margin-right:2%;
}
footer a img{
    opacity: .4;
    height:5%;
    border-radius:50%;
}
.aboutSunContainer{
    display:flex;
}

/* CONTACT US PAGE CSS */
#formBackground{
    margin-top:5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/aboutImg.jpg");
    padding:11%;
    width:75%;
    border:10px double rgba(211, 211, 211, 0.2);
}
#formContainer{
    background-image:linear-gradient(rgb(58, 58, 58), rgb(94, 94, 94));
    padding:5%;
    color:whitesmoke;
    border:5px solid rgba(255,183,177,.3);
    font-weight:lighter;
}
.widget{
    margin-top:15%;
}

fieldset p{
    padding:0;
    color: rgba(51, 161, 173, .8);
    font-size:1.25em;
    margin:5% 0% .5% 1%;
}
fieldset:nth-child(2), fieldset:nth-child(3){
    margin-top: 15%;
}
legend{
    color:rgba(68, 214, 230, 0.5);
    font-size:1.1em;
    margin-bottom:1%;
}
input:text{
    width:50%;
}
/* form[type^="submit"]{
    font-size: 3em;
    border: none;
    outline: none;
    color: white;
} */
div > h1{
    color:rgba(255,183,177,.8);
    font-weight:lighter;
}
fieldset ~ input[type="submit" i]{
    margin-top:2%;
    padding:1% 2%;
    border-radius:0%;
    border: solid 1px rgba(51, 161, 173, .5);
    background-color: rgba(51, 161, 173, .7);
    color:white;
    font-size:1em;
}
input[type="submit" i]:hover{
    background-color: rgba(68, 214, 230, 0.5);

}
fieldset{
    padding:0% 0% 1% 0%;
    margin:0%;
    background-color:rgb(75, 75, 75);
}

fieldset input[type="text" i], fieldset input[type="email" i]{
    width:100%;
    margin:0%;
    font-size:1.25em;
    padding:0%;
    border:none;
}
fieldset input[type="email" i]{
    margin-bottom:7.5%;
}
fieldset > textarea{
    width: 98%;
    padding:0% 0% 10% 0%;
    margin: 0% 1%;
}



/* CSS for checkout page, imported from W3 */
/* .row {
    display: -ms-flexbox; IE10 
    display: flex;
    -ms-flex-wrap: wrap;    IE10 
    flex-wrap: nowrap;
    margin: 0 -10px;
    min-width:100%
  }
  
  .col-25 {
    -ms-flex: 25%;  IE10 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%;      IE10 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;      IE10 
    flex: 75%;
  } */
/*   
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 5px solid rgba(255,183,177,.3);
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: rgba(255,183,177,.8);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: rgba(255,183,177,.8);
  }
  
  span.price {
    float: right;
    color: grey;
  }
   */
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  /* @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
   */

  /* CART CHECKOUT PAYMENT PAGES CSS BELOW */

  /* Procucts Page CSS */
  /* #site effects all 3 pages */
  #site {
	/* max-width: 960px; */
	margin: 0 auto;
	padding: 0 1em;
} 

/* #masthead {
	margin-top: 3em;
	padding: 2em 0 0.5em 0;
	border-bottom: 1px solid #ddd;
} */

 /* #masthead h1 {
	margin: 0;
	font-size: 3.5em;
	overflow: hidden;
	padding-left: 85px;
	min-height: 82px;
	line-height: 2.3;
	background: url(../images/logo.png) no-repeat 0 50%;
	color: #900;
	
} */

/* .tagline {
	float: right;
	color: #666;
	font-size: 14px;
	padding-top: 3.5em;
} */

/* #products ul {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#products li {
	float: left;
	width: 31%;
	margin: 0 1%;
	display: block;
} */

.product-image {
	margin: 2em auto 1em auto;
	background: white;
	width: 200px;
	height: 200px;
	overflow: hidden;
    border-radius: 50%;
    border:1px solid rgb(255,183,177);
	
}

.product-description {
	padding: 1em;
	background: rgb(225, 224, 224);
	color: #fff;
}
/* controls the product item name */
.product-name {
    color:rgba(51, 161, 173, .7);
    font-size: 1.5em;
    font-weight:lighter;
	text-align: center;
	margin: 0;
	font-size: 1em;
	padding-bottom: 0.2em;
	text-transform: uppercase;
}
/* controls number price for products*/
.product-price {
	width: 4em;
	height: 4em;
	font-size: 1.2em;
	text-align: center;
	margin: 1em auto;
	background: #fff;
	color: rgb(255,183,177);
	line-height: 4;
	border-radius: 50%;
}

/* controls number in add to cart */
form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

/* controls number in add to cart */
form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: rgb(255,183,177);
	border-radius: 3px;
	margin-left: 0.4em;
}

.btn, a.btn {
	display: inline-block;
	background: rgba(255,183,177,.9);
	color: #fff;
    text-decoration:none;
	padding: .5em 1.25em;
    text-align: center;
    font-size:1.25em;
    margin-top:10%;
    border:2px solid rgba(255,183,177,.3);
}
.btn:hover, a.btn:hover{
    color:grey;
}


/* #site-info {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #cc8500;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
} */

body#checkout-page #site-info {
	position: static;
}


/* Shopping Cart Page CSS */

#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid rgba(255,183,177,.8);
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid rgba(51, 161, 173, .9);
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
}

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: rgba(51, 161, 173, 1);
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #fafafa;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
    margin-bottom: 1.3em;
    background-color:lightgrey;
}

#checkout-order-form legend {
    /* margin-top:5%; */
	padding: 0.3em;
	background: rgba(255,183,177,.8);
    font-weight: bold;
    font-size:1em;
}
/* controls checkout fieldset label text */
#checkout-order-form div {
    margin-bottom: 1em;
    color:rgba(51, 161, 173, .9);
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

.message {
	display: block;
	margin: 0.5em 0;
	color: rgba(51, 161, 173, .9);
}

#user-details {
	margin: 1.5em 0;
}

#user-details > h2 {
	text-align: center;
	font-size: 2em;
}

#user-details-content {
	margin: 1.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

#user-details-content .detail {
	float: left;
	width: 46%;
}

#user-details-content .detail.right {
	float: right;
}

#user-details-content .detail > h2 {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#user-details-content ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#user-details-content li {
	display: block;
	margin-bottom: 0.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

#paypal-form {
	margin: 1.5em 0;
}


