body{
    display:flex;
    width:100%;
    height:100%;
    font-family: sans-serif;
}
#landingContainer{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0% 5% 5% 5%;
} 
#navAndLogoContainer{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

/* Navbar section Below */

.navbar {
    display:flex;
    width:50%;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    white-space: nowrap;
    font-size: 1.25em;
    padding:.75%;
  } 

  /* Gives <a> element text color and removes underline */
  .navbar a {
    color: black;
    text-decoration: none;
    padding:.5em;
  }

  /* Removes premade styling and resizes button, sizes & colors the text*/
  .dropButton{
    font-size: 1em;
    border: none;
    outline: none;
    color: black;
    padding:.5em 1.25em;
  }
  /* Makes is so that when all items (except the dropdown a elements) change color when hovered over */
  .navbar a:hover, .dropdown:hover .dropButton {
    border-top: 2px solid rgba(51, 161, 173, .2);
    color: rgba(51, 161, 173, .9);
  }
  
  /* Hides dropdown menu until it's hovered over & prevents subnav from moving the whole nav bar spacing  */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(255, 253, 253);
  }
  /* When it hovers the text and background change color */
  .dropdownContent a:hover {
    /* background-color: green;
    color:white; */
    border-top: 1px solid rgba(51, 161, 173, .5);
  }

  /* Allows the drop down menu to be visible when hovered over  */
  .dropdown:hover .dropdownContent {
    display:flex;
    flex-direction:column;
  } 

  /* End of Nav Bar CSS */
  /* #goatCover{
    margin-bottom:5%;
    max-width:100%;
    opacity: .8;
    position:relative;
} */
#landingBanner{
    width:100%;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
    color:whitesmoke;
    background-image: linear-gradient(rgba(143, 136, 136, 0.104), rgba(213, 213, 213, 0.3)),url('images/banner.png');
    padding-bottom:5%;
    padding-top:10%;
    margin-bottom:5%;
}

 .bannerTitle {
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    font-weight:lighter;
    margin:10% 0% 0% 0%;
 }
 h4{
    font-weight:lighter;
    padding:1%;
    border: solid 1px rgba(51, 161, 173, .5);
    background-color:rgba(51, 161, 173, .7);
 }
#landingContainerTop{
    display:Flex;
    width:100%;
    margin-bottom:5%;
}
#landingSubContainer1{
    display:flex;
    width:50%;
    padding:5% 0%;
    background-image:url('images/helloWreath.jpg');
    background-position: center;
    background-size:cover;
    margin-right:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
}
#landingSubContainer2{
    display:flex;
    width:50%;
    padding:5% 0%;
    background-image: linear-gradient(rgba(143, 136, 136, 0.2), rgba(213, 213, 213, 0.2)),url('images/wreath1jpg.jpg');
    background-position: center;
    background-size:cover;
    margin-left:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;   
}
#landingContainerBottom{
    display:Flex;
    width:100%;
}
#landingSubContainer3{
    display:flex;
    width:50%;
    padding:5% 0%;
    background-image: url('images/aboutImg.jpg');
    background-position: center;
    background-size:cover;
    margin-right:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center;   
}
#landingSubContainer4{
    display:flex;
    width:50%;
    padding:5% 0%;
    background-image: url('images/aboutImg.jpg');
    background-position: center;
    background-size:cover;
    margin-left:2.5%;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
}
.tileLink{
    background-color:rgba(255,183,177,.8);
    min-width:50%;
    padding:1%;
    text-align: center;
}

.landingFont1, .landingFont2{
    color: white;
    padding:0;
    margin:0;
}
.landingFont1{
    margin-top:25%;
    margin-bottom:0;
}
.landingFont2{
    margin-top:0;
    margin-bottom:25%;
    font-weight: lighter;
    font-size:1.25em;
}
.socialMediaImages{
    max-width:200px;
    max-height:200px;
}
#socialMediaContainer{
    display: flex;
    width:100%;
    justify-content: space-between;
}
/* effects for the follow us on IG link */
#instaLink{
    display:flex;
    flex-direction:row;
    align-items: center;
    width:100%;
    justify-content: center;
    color: rgba(51, 161, 173, .8);
    font-size:1.5em; 
    margin: 1% 0%;
}

p + a{
    text-decoration: none;
    margin-left:.5%;
    color: rgba(51, 161, 173, .8);
}
hr.bottomLine{
    width:100%;
    border-top: 1px solid rgba(51, 161, 173, .9);
    margin-top:5%;
}
.item{
    width:25%;
}
footer{
    display:flex;
    /* flex-wrap:wrap; */
    width:100%;
    /* justify-content:space-between; */
    color:rgba(255,183,177,.8);
    font-size:1.25em;
    margin-top:2%;
    align-items:center;
}
footer p{
    margin-left:3%;
    padding:0; 
    min-width:60%;
}
footer  a{
    width:100%;
    text-decoration:none;
    color:rgba(255,183,177,.8);
    font-size:1em;
    margin-left:1%;
}
footer  a:hover{
    color:rgba(51, 161, 173, .9);
}
footer  a:first-of-type{
    margin-left:0;
}
footer  a:last-of-type{
    margin-right:2%;
}
a img{
    opacity: .4;
    height:5%;
    border-radius:50%;
}

/* CONTACT US PAGE CSS */
#formBackground{
    margin-top:5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/fakeGoat4.jpg'images/aboutImg.jpg'");
    padding:10%;
    width:75%;
    border:10px double rgba(211, 211, 211, 0.2);
}
#formContainer{
    background-image:linear-gradient(rgb(58, 58, 58), rgb(94, 94, 94));
    padding:5%;
    color:whitesmoke;
    border:5px double rgba(44, 63, 44, 0.5);
}
fieldset{
    padding-left:2.5%;
}
fieldset p{
    margin-top:5%;
    margin-bottom:.5%;
    padding:0;
}
fieldset:nth-child(2), fieldset:nth-child(3){
    margin-top: 15%;
}
legend{
    border: none;
}
input:text{
    width:50%;
}
form[type^="submit"]{
    font-size: 3em;
    border: none;
    outline: none;
    color: white;
}
div > h1{
    color:rgba(255,183,177,.8);
    font-weight:lighter;
}



/* CSS for checkout page, imported from W3 */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: nowrap;
    margin: 0 -10px;
    min-width:100%
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 5px solid rgba(255,183,177,.3);
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: rgba(255,183,177,.8);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: rgba(255,183,177,.8);
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  